.button {
  background-color: #0095f6;
  color: white;
  padding: 6px 10px;
  border: 1px solid #0095f6;
  margin: 0;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;

  &:hover {
    background-color: white;
    color: #0095f6;
  }
}

.buttonSecondary {
  background-color: green;
  color: white;
  border: 1px solid green;
  padding: 6px 10px;
  margin: 0;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;

  &:hover {
    background-color: white;
    color: red;
  }
}

.buttonLink {
  font-size: 14px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: #434242;
  }
}